.img {
  width: 70px;
  border-radius: 3px;
}

.img:hover {
  transform: scale(1.2);
}

.card-body img {
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.card-body img:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.table > tbody > tr > * {
  vertical-align: middle;
}

.table {
  text-align: center;
}

.sosmed img {
  width: 100px;
}

.sosmed img:hover {
  transform: scale(1.1);
}

.img-detail {
  width: 100px;
  height: 100px;
}
